<?xml version="1.0" encoding="utf-8"?>
<packages>
	<!-- Essentials -->
	<package id="7zip.install"/>
	<package id="dotnet4.5.2"/>
	<package id="git"/>
	<package id="git-credential-winstore"/>
	<package id="npm"/>
	<package id="skype"/>
	<package id="SourceTree"/>
	<package id="visualstudio2013ultimate"/>

	<!-- Optional -->
	<!--Comment in or out as required-->

	<!--package id="cmder.portable"/-->
	<!--package id="dropbox"/-->
	<!--package id="fiddler"/-->
	<!--package id="firefox-dev -pre"/-->
	<!--package id="f.lux"/-->
	<!--package id="googlechrome"/-->
	<!--package id="googledrive"/-->
	<!--package id="listary"/-->
	<!--package id="nodejs.install"/-->
	<!--package id="notepadplusplus"/-->
	<!--package id="nugetpackageexplorer"/-->
	<!--package id="opera"/-->
	<!--package id="python"/-->
	<!--package id="rdcman"/-->
	<!--package id="resharper"/-->
	<!--package id="sublimetext3"/-->
	<!--package id="sublimetext3.packagecontrol"/-->
	<!--package id="webstorm"/-->
	<!--package id="winmerge"/-->

</packages>

